@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  /* Custom CSS to hide scrollbar */
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}